/* Siderbar */
.sidebar {
  background-color: #232323;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 800;
  height: 100vh;
  width: 281px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  width: 100%;

}

.logo {
  width: 100%;
}

.wallet {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  padding: 26px 30px;

}

.wallet-btn {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  color: #DEE8E8;
  font-size: 14px;
  height: 44px;
  width: 100%;

}

.logo img {
  padding-left: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 0px 30px 130px;

}

.logout,
.language,
.menu-item {
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 6px;
  padding: 13px 10px 11px 12px;
  text-transform: capitalize;
}

.wallet-btn i {
  font-size: 17px;
  margin-left: 10px;
}

.menu-item i {
  font-size: 17px;
  margin-right: 11px;
}

.wallet-btn.active,
.wallet-btn:hover,
.menu-item.active,
.menu-item:hover {
  background-color: #DDF247;
  box-shadow: 0px 4px 20px 0px rgba(221, 242, 71, 0.30);
  color: #161616;
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout .sidebar {
  flex-shrink: 0;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #161616;
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 30px;

}