/* Siderbar */
.sidebar {
  background-color: #232323;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 800;
  height: 100vh;
  width: 281px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  width: 100%;

}

.logo {
  width: 100%;
}

.wallet {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  padding: 26px 30px;

}

.wallet-btn {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  color: #DEE8E8;
  font-size: 14px;
  height: 44px;
  width: 100%;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.logo img {
  padding-left: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 0px 30px 130px;

}

.logout,
.language,
.menu-item {
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 6px;
  padding: 13px 10px 11px 12px;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.wallet-btn i {
  font-size: 17px;
  margin-left: 10px;
}

.menu-item i {
  font-size: 17px;
  margin-right: 10px;
}

.wallet-btn.active,
.wallet-btn:hover,
.menu-item.active,
.menu-item:hover {
  background-color: #DDF247;
  box-shadow: 0px 4px 20px 0px rgba(221, 242, 71, 0.30);
  color: #161616;
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout .sidebar {
  flex-shrink: 0;
}

.content {
  width: calc(100vw - 281px);
  padding: 73px 124px 30px 109px;
  overflow-y: auto;
  background-color: #161616;
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 30px;
}

/*Home Container*/
.home-container {
  width: 100%;
  padding: 0 10px;
}

/* === PRODUCT CARD CONTAINER === */
.product-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

/*Card*/
/* === CARD BASE === */
.card {
  background-color: #1E1E1E;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 10px 14px 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 252.39px;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

/* === CARD IMAGE === */
.card-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.card-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.2) 100%);
  transform: skewX(-25deg);
}

.card:hover .card-image::after {
  animation: shine 1s forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.card-image img {
  display: block;
  transform: scale(1.02);
}

/* === CARD CONTENT === */
.card-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 0 2px;
}

.card-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  transition: color 0.4s ease, text-shadow 0.4s ease;
}

.card:hover .card-title {
  color: #DDF247;
  outline: 0;
}

/* === CARD CREATOR === */
.card-creator {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.card-avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.card-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-author span {
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Azeret Mono';
  font-size: 12px;
  line-height: 19px;
}

.card-author strong {
  color: #FFF;
  font-family: 'Azeret Mono';
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

/* === CARD ACTIONS === */
.card-bid {
  align-items: center;
  background-color: #DEE8E8;
  border: none;
  border-radius: 12px;
  bottom: 50%;
  color: #161616;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  height: 42px;
  justify-content: center;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, 50%);
  transition: all 0.3s ease;
  visibility: hidden;
  width: 116px;
}

.card:hover .card-bid {
  opacity: 1;
  visibility: visible;
}

.card-bid:hover {
  background-color: #DDF247;
}

/* === CARD EXTRAS === */
.card-wish {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-timer {
  background-color: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(2px);
  border-radius: 9999px;
  color: #FFF;
  font-size: 12px;
  font-weight: 800;
  line-height: 9px;
  padding: 8.5px 10px;
}

.card-fav {
  align-items: center;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.20);
  border-radius: 26px;
  color: #FFF;
  display: flex;
  font-size: 13px;
  height: 26px;
  justify-content: center;
  margin-left: 4px;
  width: 26px;
}

/* === DIVIDER & FOOTER === */
.card-divider {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 16px 0;
  width: 100%;
}

.card-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}

.card-footer span {
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Azeret Mono';
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

.card-footer strong {
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  text-rendering: optimizeLegibility;
}

.card-footer strong span {
  color: #FFF;
  font-size: 18px;
  margin-right: 5px;
}

/* === TITLES === */
.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.title-container a {
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  text-transform: capitalize;
  color: #FFF;
  transition: color 0.3s ease;
}

.title-container a:hover {
  color: #DDF247;
}

.title-container a .fa-arrow-right {
  margin-left: 10px;
}

.titles h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  text-transform: capitalize;
}

/* === MAIN BANNER === */
.banner-container {
  width: 100%;
  background-color: rgba(35, 35, 35, 1);
  padding: 60px 71px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 76px;
}

.banner-container h2 {
  color: #FFF;
  font-size: 45px;
  line-height: 61px;
  max-width: 575px;
  margin-bottom: 20px;
  font-weight: 800;
}

.banner-container p {
  color: rgba(255, 255, 255, 0.53);
  font-size: 14px;
  font-family: 'Azeret Mono';
  font-weight: 400;
  line-height: 22px;
  max-width: 440px;
  margin-bottom: 40px;
}

.banner-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.banner-button-explore,
.banner-button-create {
  height: 50px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161616;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 800;
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.banner-button-explore:hover {
  background-color: #DDF247;
}

.banner-button-create:hover {
  background-color: #FFF;
}

.banner-button-create {
  background-color: #DDF247;
  width: 230px;
}

.banner-button-create:hover {
  background-color: #FFF;
}

.banner-button-explore {
  background-color: #FFF;
  width: 190px;
}

.banner-container img {
  position: absolute;
  right: 3%;
  top: -8%;
}

@keyframes smooth-tilt {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.banner-container img {
  display: block;
  animation: smooth-tilt 4.5s ease-in-out infinite;
  transform-origin: center;
}

/* === TOP SELLER CARD === */
.top-seller-card__info,
.top-seller-card__details,
.top-seller-card__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-seller-card__avatar {
  position: relative;
  margin-bottom: 14px;
}

.top-seller-card__rank {
  align-items: center;
  background-color: #DEE8E8;
  border-radius: 24px;
  color: #161616;
  display: flex;
  font-size: 13px;
  font-weight: 800;
  height: 24px;
  justify-content: center;
  line-height: 18px;
  position: absolute;
  right: 8px;
  top: 0;
  width: 24px;
}

.top-seller-card__name {
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  margin-bottom: 4px;
  color: #FFF;
}

.carousel {
  margin-top: 30px;
}

.carousel-container {
  margin-top: 60px;

}

.top-seller-card__sales {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-family: 'Azeret Mono';
  font-size: 14px;
  line-height: 22px;
}

/* Contenedor de los puntitos */
.swiper-pagination {
  bottom: 10px !important; /* posición */
}

/* Cada puntito */
.swiper-pagination-bullet {
  background-color: #aaa; /* color normal */
  opacity: 0.6;
  width: 10px;
  height: 10px;
}

/* Puntito activo */
.swiper-pagination-bullet-active {
  background-color: #ff6b00; /* color activo */
  opacity: 1;
}

.swiper-pagination {
  background-color: red;
}

.swiper {
  height: 225px;
}