/* Siderbar */
.sidebar {
  background-color: #232323;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 800;
  height: 100vh;
  width: 281px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  width: 100%;

}

.logo {
  width: 100%;
}

.wallet {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  padding: 26px 30px;

}

.wallet-btn {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  color: #DEE8E8;
  font-size: 14px;
  height: 44px;
  width: 100%;

}

.logo img {
  padding-left: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 0px 30px 130px;

}

.logout,
.language,
.menu-item {
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 6px;
  padding: 13px 10px 11px 12px;
  text-transform: capitalize;
}

.wallet-btn i {
  font-size: 17px;
  margin-left: 10px;
}

.menu-item i {
  font-size: 17px;
  margin-right: 10px;
}

.wallet-btn.active,
.wallet-btn:hover,
.menu-item.active,
.menu-item:hover {
  background-color: #DDF247;
  box-shadow: 0px 4px 20px 0px rgba(221, 242, 71, 0.30);
  color: #161616;
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout .sidebar {
  flex-shrink: 0;
}

.content {
  width: calc(100vw - 281px);
  padding: 73px 124px 30px 109px;
  overflow-y: auto;
  background-color: #161616;
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 30px;
}

/*Home Container*/
.home-container {
  width: 100%;
}

/* === PRODUCT CARD CONTAINER === */
.product-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

/*Card*/
/* === CARD BASE === */
.card {
  background-color: #1E1E1E;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 10px 14px 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 252.39px;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

/* === CARD IMAGE === */
.card-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.card-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.2) 100%);
  transform: skewX(-25deg);
}

.card:hover .card-image::after {
  animation: shine 1s forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.card-image img {
  display: block;
  transform: scale(1.02);

}

/* === CARD CONTENT === */
.card-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 0 2px;
}

.card-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  transition: color 0.4s ease, text-shadow 0.4s ease;
}

.card:hover .card-title {
  color: #DDF247;
  outline: 0;
}

/* === CARD CREATOR === */
.card-creator {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.card-avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.card-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-author span {
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Azeret Mono';
  font-size: 12px;
  line-height: 19px;
}

.card-author strong {
  color: #FFF;
  font-family: 'Azeret Mono';
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

/* === CARD ACTIONS === */
.card-bid {
  align-items: center;
  background-color: #DEE8E8;
  border: none;
  border-radius: 12px;
  bottom: 50%;
  color: #161616;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  height: 42px;
  justify-content: center;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, 50%);
  transition: all 0.3s ease;
  visibility: hidden;
  width: 116px;
}

.card:hover .card-bid {
  opacity: 1;
  visibility: visible;
}

.card-bid:hover {
  background-color: #DDF247;
}

/* === CARD EXTRAS === */
.card-wish {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-timer {
  background-color: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(2px);
  border-radius: 9999px;
  color: #FFF;
  font-size: 12px;
  font-weight: 800;
  line-height: 9px;
  padding: 8.5px 10px;
}

.card-fav {
  align-items: center;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.20);
  border-radius: 26px;
  color: #FFF;
  display: flex;
  font-size: 13px;
  height: 26px;
  justify-content: center;
  margin-left: 4px;
  width: 26px;
}

/* === DIVIDER & FOOTER === */
.card-divider {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 16px 0;
  width: 100%;
}

.card-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}

.card-footer span {
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Azeret Mono';
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

.card-footer strong {
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  text-rendering: optimizeLegibility;
}